{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5 rounded-3 shadow p-3 bg-body" style="width: 500px; background-color: white;">
        <h2>Password Reset</h2>
        <form id="id_password_reset_form" method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="id_email" placeholder="user email" name="email" required="true">
            </div>
            <button type="submit" class="btn btn-primary">Send reset email</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}