{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5 rounded-3 shadow p-3 bg-body" style="width: 500px; background-color: white;">
        <h2>Password Reset</h2>
        <form id="id_password_change_form" method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-3">
                <label for="old_password">Old Password:</label>
                <input type="password" class="form-control" id="id_old_password" placeholder="old_password" name="old_password" required="true">
            </div>
            <div class="mb-3">
                <label for="new_password1">New Password:</label>
                <input type="password" class="form-control" id="id_new_password1" placeholder="New Password" name="new_password1" required="true">
            </div>
            <div class="mb-3">
                <label for="new_password2">Confirm Password:</label>
                <input type="password" class="form-control" id="id_new_password2" placeholder="Confirm Password" name="new_password2" required="true">
            </div>
            {% for field in form %}
            <p>
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}