{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="border border-1 rounded-3 shadow p-3 mb-3 text-center container " style="max-width: 50%; margin-top: 100px;">
        <div class="row">
            <div class="col align-self-center">
                <div>
                    <p>Check your email for instruction on resetting your password</p>
                </div>
                <div>
                    <p>If you dont receive an email please make sure you entered the email you have register with us</p>
                </div>
                <div>
                    <p><a href="{% url 'home' %}">Return to the home page</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}