#text_div {
    color: grey;
    text-align: center;
    font-size: 30px;
    font-family: "Ariel";
    position: absolute;
    top: "0";
    bottom: "0";
    right: "0";
    left: "0";
    margin: 10px;
}

.center_all {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    font-family: "Ariel";
    border-style: solid;
    border-color: blue;
}

#container{
    position: relative;
    height: 700px;
    width: auto;
    border-style: solid;
    border-color: pink;
}

#title{
    /* position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 500px;
    width: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100%; */
}

/* .first {
    position: absolute;
    
    top: 0;
    left: 0;
   
   
    background-color: aqua;
    
} */

#particles{
    border-style: solid;
    border-color: red;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 2.5%;
    top: 285px;
    /* left: 50%;*/
    transform: translate(-50%, -50%);
	/* margin: 0; */
	/* padding-top: 500px; */
	/* top: 50%;
	left: 50%; */
	/* -webkit-transform: translate3d(-50%,-50%,0); */
	/* transform: translate3d(-50%,-50%,0); */
    /* height: 650px;
    width: 850px; */
    /* height: ; */
    width: 75%;
    /* size: auto; */
    /* position: absolute; */
    /* top:25;
    bottom: -100; */
    /* left: 0;
    /* background-color: black; */
    /* height: 99%;
    width: 99%; */
    /* width: "100%",
    height: "100%",
    position: "absolute",
    margin: "0",
    padding: "0",
    top: "0",
    left: "0",
    background: "black", */
}

Navbar{
    position: absolute;
}

/* .navbar-brand {
    letter-spacing: 2px;
    margin-left: 1.5rem;
    font-size: 2rem;
}

.nav-link {
    letter-spacing: 2px;
    text-align: center;
} */

.about{
    border-style: solid;
    border-color: orange;
}

.contact{
    border-style: solid;
    border-color: green;
}

.footer{
    border-style: solid;
    border-color: purple;
}

.body{
    min-height: 60vh;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}
