{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style type="text/css">

/* div{
    border: 2px solid red;
}

ul{
    border: 2px solid green;
}
li{
    border: 2px solid pink;
} */

.image-container{
    max-width: 250px;
    height: auto;
    position: relative;
    margin: 0 auto;		
    margin-top: 15px;
    /* border: 2px solid black; */
    /* width: 200px;
    height: 200px; */
}


    ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}


    a {
        text-decoration: none;
        /* font-size: 15px; */
        color: black;
    }


.clear {
	clear: both;
}


    .profile-picture {
        border-radius: 100%;
        overflow: hidden;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;	
    }
	.big-profile-picture {
		margin: 0 auto;		
		border: 2px solid black;
		width: 200px;
		height: 200px;
	}

    .menu-box-menu .icon {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    margin-left: 20px;
    margin-right: 15px;
    }

    .menu-box-number {
    width: 36px;
    /* line-height: 22px; */
    /* background: #50597b; */
    /* text-align: center; */
    /* border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black; */
    position: absolute;
    top: 5px;
    right: 25px;
    -webkit-transition: all .3s;
    transition: all .3s;
    }

    .menu-box-menu li{
    margin-top: 5px;
    height: 50px;
    position: relative;							
    }

    .menu-box-tab {
    line-height: 60px;
    display: block;
    border: 1px solid #1f253d;
    -webkit-transition: background .2s;
    transition: background .2s;
    }

    .users-name {
    margin: 25px 0 16px;
    text-align: center;
    }
    .profile-description {
    /* width: 210px; */
    margin: 20px;
    /* text-align: center; */
    }
</style>


<body>
    <div class=" container border border-1 rounded-3 shadow p-3 mb-3" style=" margin-top: 50px;">
        <div class="row ">
            <div class="middle-container col border border-1 rounded-3 shadow p-3 mb-3 profile" style="margin: 25px; height: 750px;" >
                <!-- <div class="profile-picture big-profile-picture clear">
                    <img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{ request.user.profile_img.url }}"  height="200" width="200">
                </div> -->
            <div class="image-container" id="id_image_container">
                <img class="border border-dark rounded-circle img-fluid mx-auto profile-image" id="id_profile_image" aria-haspopup="true" aria-expanded="false" src="{{ profile_img }}">
            </div>
                <h1 class="users-name">{{ first_name }} {{ last_name }}</h1>
                <div class="profile-description">
                    {% if is_self %}
                    <p class="mt-4 mb-1 field-heading">User Name</p>
                    <h5>{{ username }}</h5>
                    <p class="mt-4 mb-1 field-heading">Email</p>
                        <h5>{{ email }}</h5>
                        <p>this is me</p>
                    {% else %}
                    <div style="margin-left: 100px;">
                        <p class="mt-4 mb-1 field-heading">User Name</p>
                        <h5>{{ username }}</h5>
                        <p class="mt-4 mb-1 field-heading">Email</p>
                        {% if hide_email %}
                            <h5>*****@***.***</h5>
                        {% else %}
                            <h5>{{ email }}</h5>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% if is_self %}
                    <div style="padding-top: 25px;">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <a class="btn btn-outline-success" role="button" href="{% url 'account:edit' user_id=id %}">Update</a>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 5px;">
                            <a class="btn btn-outline-primary" role="button" href="{% url 'password_change' %}">Change Password</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {#% if is_self %#}

       

            {% if request.user.is_authenticated %}
                {% if is_self %}
                <div class="col border border-1 rounded-3 shadow p-3 mb- 3 menu-box" style="margin: 25px; height: 400px; min-width: 250px; max-width: 400px;" >
                    <ul class="menu-box-menu">
                        <li>
                            <!-- <a class="menu-box-tab" href="{% url 'friend:friend-list' user_id=id %}"><span class="icon fontawesome-envelope scnd-font-color"></span>Friends<div class="menu-box-number">{{friends|length}}</div></a>         -->
                            <div>
                                <a class="btn btn-outline-primary" style="min-width: 350px;" role="button" href="{% url 'friend:friend-list' user_id=id %}">Friends<div class="menu-box-number">{{friends|length}}</div></a>                     
                            </div>
                        </li>
                        <li>
                            <div>
                                {% if friend_requests %}
                                <a class="btn btn-outline-primary" style="min-width: 350px;" role="button"  href="{% url 'friend:friend-requests' user_id=id %}">New Friend Requests<div class="menu-box-number">{{friend_requests|length}}</div></a>                            
                                {% else %}
                                <a class="btn btn-outline-dark disabled" style="min-width: 350px;" role="button">No New Friend Requests</a>   
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <!-- <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Your Events<div class="menu-box-number">5</div></a> -->
                            <a class="btn btn-outline-dark disabled" style="min-width: 350px;" role="button">No Events</a>   
                            
                        </li>
                        <li>
                            <!-- <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Messages<div class="menu-box-number">5</div></a> -->
                            <a class="btn btn-outline-dark disabled" style="min-width: 350px;" role="button">No Messages</a>   
                            
                        </li>
                        <li>
                            <!-- <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Invites<div class="menu-box-number">5</div></a> -->
                            <a class="btn btn-outline-dark disabled" style="min-width: 350px;" role="button">No Invitations</a>   
                            
                        </li>
                        <li>
                            <!-- <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Events Your Attending<div class="menu-box-number">5</div></a> -->
                            <a class="btn btn-outline-dark disabled" style="min-width: 350px;" role="button">Not Attending Any Events</a>   
                            
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="col border border-1 rounded-3 shadow p-3 mb-3 menu-box" style="margin: 25px; height: 200px; min-width: 250px; max-width: 300px;" >
                    <ul class="menu-box-menu">
                        {% if request_sent == 0 %}
                        <li>
                            <div>
                                <a class="btn btn-outline-success" style="min-width: 250px;" role="button" id="id_confirm_{{id}}" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>Accept</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="btn btn-outline-danger" style="min-width: 250px;" role="button" id="id_cancel_{{id}}" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Decline</a>
                            </div>
                        </li>
                        {% else %}
                            {% if is_friend == False and is_self == False %}
                            <li>
                                <div>
                                    {% if request_sent == -1 %}
                                    <button class="btn btn-outline-success" style="min-width: 250px;" id="id_send_friend_request_btn">Send Friend Request</button>
                                    {% endif %}
                                    {% if request_sent == 1 %}
                                    <button class="btn btn-outline-danger" style="min-width: 250px;" id="id_cancel_friend_request_btn">Cancel Friend Request</button>
                                    {% endif %}
                                </div>
                            </li>
                            {% endif %}
                        {% endif %}
                
                        {% if is_friend %}
                        <li>
                            <div>
                                <button class="btn btn-outline-danger" style="min-width: 250px;" id="id_unfriend_btn">Unfriend</button> 
                            </div>
                        </li>
                        {% endif %}
                        <li>
                            <div >
                                <a class="btn btn-outline-primary" style="min-width: 250px;" role="button" href="{% url 'friend:friend-list' user_id=id %}">Friends<div class="menu-box-number">{{friends|length}}</div></a>                            
                            </div>
                        </li> 
                    </ul>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">

        function onFriendRequestSent(){
            location.reload();
        }

        function onFriendRequestCancelled(){
            location.reload();
        }

        function onFriendRemove(){
            location.reload();
        }
        
        function onFriendRequestAccepted(){
            location.reload();
        }

        function onFriendRequestDeclined(){
            location.reload();
        }

        var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
        if (sendFriendRequestBtn != null){
            sendFriendRequestBtn.addEventListener("click", function(){
                sendFriendRequest("{{id}}", onFriendRequestSent)
            })
        }

        var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
        if (cancelFriendRequestBtn != null){
            cancelFriendRequestBtn.addEventListener("click", function(){
                cancelFriendRequest("{{id}}", onFriendRequestCancelled)
            })
        }

        var removeFriendBtn = document.getElementById("id_unfriend_btn")
        if (removeFriendBtn != null){
            removeFriendBtn.addEventListener('click', function(){
                removeFriend("{{id}}", onFriendRemove)
            })
        }

        function triggerAcceptFriendRequest(friend_request_id){
            acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
        }

        function triggerDeclineFriendRequest(friend_request_id){
            declineFriendRequest(friend_request_id, onFriendRequestDeclined)
        }

    </script>
</body>
</html>

    {% include 'friend/snippets/send_friend_request.html' %}
    {% include 'friend/snippets/accept_friend_request.html' %}
    {% include 'friend/snippets/cancel_friend_request.html' %}
    {% include 'friend/snippets/remove_friend.html' %}
    {% include 'friend/snippets/decline_friend_request.html' %}

{% endblock content %}