@charset "UTF-8";

*{
	/* margin: 5px; */
	/* padding: 5px; */
}

body{
	padding: 30px;
}


/* table {
  border-collapse: collapse;
  width: auto;
  text-align: left;
  margin: 5px;
}

table, th, td {
  border: 1px solid black;
  padding: 100px;
} */


/* .welcomelogin{
	float: left;
} */


.test{
/* 	border-style: solid;
	border-color: red; */
	/* padding: 30px; */
	text-align: right;
}

.test1{
/* 	border-style: solid;
	border-color: red; */
	/* padding: 30px; */
	text-align: center;
}


nav{
	margin-bottom:50px;
}

.hometext{
	/* padding-top: 50px; */

	border-style: solid;
	border-color: blue;
	float: right;
}

.homelogin{
	float: right;
}

.welcome{
	padding-bottom: 50px;
	text-align: center;
}


/* .nav{
	padding-left: 400px;
	display: inline-block;
	justify-content: space-between;
	
} */

textarea {
  resize: none;
  white-space: normal;
  text-align: left;
  display: block;
}

label {
	display: block;
}

.nav {
	float: right;
    overflow:hidden;
    width:100%;
    display:inline;
    border-style: solid;
	border-color: blue;
}
.link{
    float:right;
    margin-left:15px;
}

body{
	width: auto;
	margin: 50px;
}
.lower{
	float:right;
    margin-left:15px;
}

/* .login {
	 flex: 1;
    width: 200px;
    height: 300px;
} */

.description {
	flex: 1;
    width: 500px;
    height: 200px;
    margin-top: 50px;
}

#wrapper{
    display: flex;
    background-color: white;
    width: 850px;
}

/* .btn {
	display: inline-block;
	justify-content: space-between;
	
} */